*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background: blue;
  font-size: 20px;
}

.page{
  margin: 0px 10px;
}

/*--------------------------------sidebar-------------------------------------*/
.sidebar{
  list-style: none;
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #042331;
  transition: all 0.3s ease;
}

.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
  transition: 0.3s;
}

.sidebar ul li:hover a{
  padding-left: 30px;
}

#check{
  display: none;
}

label #btn, label #cancel{
  position: fixed;
  cursor: pointer;
  background: #042331;
  border-radius: 2px;
  padding: 15px 20px;
}

label #btn{
  left: 40px;
  top: calc(50vh - 27.5px);
  font-size: 20px;
  color: white;
  transition: all 0.3s;
}

label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 220px;
  width: 40px;
}

#check:checked ~ .page{
  margin-left: 310px;
  transition: 0.3s ease;
}

#check:empty ~ .page{
  transition: 0.3s ease;
}

/*-------------------------------sidebar end----------------------------------*/





/*-----------------------------------grid-------------------------------------*/

.grid_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

.grid_wrapper > div{
  border: 2px solid red;
}

.project-image{
  grid-row-start: 2;
}

.overview{
  grid-column-start: 1;
  grid-column-end: 3;
}

/*---------------------------------End grid-----------------------------------*/



/*---------------------------------Content------------------------------------*/
#heading{
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
}

.subheading{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}


/*-------------------------------Content End----------------------------------*/



/*----------------------------------Media-------------------------------------*/

.project-image{
  text-align: center;
}

.project-image img{
  width: 30vw;
  margin: 2% 5%;
}

.video{
  height: 40vh;
  width: 30vw;
  border: 1px yellow solid;
  display: block;
  margin: auto;
}

/*--------------------------------Media end-----------------------------------*/

/*------------------------------Bullet points---------------------------------*/

ul.challenges{
  list-style-position: inside;
}

ul.skills{
  list-style-position: inside;
}

/*---------------------------Bullet points end--------------------------------*/
