*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 1%;
  background: blue;
}

.project-image{
  text-align: center;
}

.project-image img{
  width: 30vw;
  margin: 2% 5%;
}

.project-image video{
  width: 30vw;
}
