*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 20px;
  background: blue;
}

.row{
  margin: 15vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 15px;
  background-color: red;
  border: dashed;
}

.column{
  width: auto;
  height: 30%;
  text-align: right;
  vertical-align: middle;
}

.column img{
  height: 50vh; /*row height depends on this*/
  display: block;
  margin-left: auto;
  border: dashed;
}

.column h2{
  font-size: 250%;
  text-align: left;
  border:dashed;
  width: 30vw;
}

/*----------------------------------------------------------------------------*/
.work-row{
  margin: 0px -16px;
  display: table;
}

.work-row,
.work-row > .work-column{
  padding: 8px;
}

.work-column{
  float: left;
  width: 25%;
}

.work-row:after{
  content: "";
  clear:both;
}

.work-content{
  background-color: white;
  padding: 10px;
}

/*----------------------------------------------------------------------------*/
