*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  /*background: rgb(126,174,255);
  background: linear-gradient(180deg, rgba(126,174,255,1) 15%, rgba(255,209,124,1) 85%);*/
  background: #085dcb;
  border: purple 1px solid;
}

.row{
  margin: 15vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 15px;
  /*background-color: red;*/
  border: white solid 2px;
}

.column{
  width: auto;
  text-align: right;
  vertical-align: middle;
  /*margin: 0px 10px 20px 10px;*/
  border: 2px yellow solid;
}

.column img{
  height: 50vh; /*row height depends on this*/
  display: block;
  margin-left: auto;
  border-radius: 2%;
  /*border: dashed;*/
}

.column h2{
  margin: 0;
  height: 10vh;
  font-size: 250%;
  text-align: left;
  border:dashed 2px black;
  width: 35vw;
}
/*----------------------------------------------------------------------------*/
.icons{
    margin-left: calc(50vw - 160px);
    margin-bottom: 22vh;
    /*border: dashed;*/
}

.icons .button{
  display: inline-block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 5px 0px 5px;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.icons .button:hover{
  width: 200px;
}

.icons .mail:hover{
  width: 400px;
}

.icons .linkedin:hover{
  width: 130px;
}

.icons .github:hover{
  width: 130px;
}

.icons .button .icon{
  display: inline-block;
  height: 50px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 50px;
}

.icons .button .icon i{
  font-size: 20px;
  line-height: 50px;
}

.icons .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
}

/*--------------------------------Scrolldown----------------------------------*/

.scrolldown{
  border: yellow dashed 2px;
  text-align: center;
}

.scrolldown > p{
  margin: 0;
  /*border: red 2px solid;*/
}

.scrolldown > i{
  /*border: black solid 2px;*/
}


/*----------------------------------------------------------------------------*/

/*----------------------------About_me_container------------------------------*/

.about_me_container{
  display: flex;
  margin: 0 -16px;
  border: 2px white solid;
  justify-content: center;
  position: relative;
}

.about_me_card p{
  display: block;
}

.about_me_card{
  display: flex;
  margin: 16px;
  padding: 5px;
  width: 20vw;
  height: 15vh;
  border: black 2px solid;
  align-items: center;
  justify-content: center;
  background: grey;
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/


.sub-heading{
  margin-top: 5%;
}

/*----------------------------------------------------------------------------*/
.work-row{
  margin: 0px -16px;
  display: table;
  border: red solid 1px;
}

.work-row,
.work-row > .work-column{
  padding: 8px;
}

.work-column{
  float: left;
  width: 25%;
  min-width: 225px;
}

.work-column img{
  width: auto;
  height: 30vh;
}

.work-row a{
  text-decoration: none;
  color: black;
}

.work-row:after{
  content: "";
  clear:both;
}

.work-content{
  background-color: cornsilk;
  padding: 10px;
}

/*----------------------------------------------------------------------------*/
