*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 16px;
  background: #e6e2d3;
}

h1{
  font-size: 200%;
  color: #800000;
}

p{
  font-size: 120%;
  font-weight: bold;
}

h2{
  font-size: 200%;
  color: #800000;
}

.row{
  margin: 15vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 15px;
}

.column img{
  height: 50vh; /*row height depends on this*/
  border-radius: 2%;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.12);
}

.column h1{
  margin: 0;
  height: auto;
  font-size: 350%;
  text-align: left;
  width: 400px;
}
/*----------------------------------------------------------------------------*/
.icons{
  margin-top: 20px;
  margin-left: calc(50vw - 140px);
  margin-bottom: 23vh;
}

.icons .button{
  display: inline-block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 5px 0px 5px;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.icons .button:hover{
  width: 150px;
}

.icons .mail:hover{
  width: 420px;
}

.icons .uni:hover{
  width: 220px;
}

.github{
  color: black;
}

.linkedin{
  color: #2222da;
}

.uni{
  color:#ff0000;
}

.icons .button .icon{
  display: inline-block;
  height: 50px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 50px;
}

.icons .button .icon i{
  font-size: 20px;
  line-height: 50px;
}

.icons .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
}

/*--------------------------------Scrolldown----------------------------------*/

.scrolldown{
  text-align: center;
  color: #800000;
}

/*----------------------------------------------------------------------------*/

/*----------------------------About_me_container------------------------------*/

.main_container{
  display: flex;
  margin: 30px -16px;
}

.about_me_container{
  position: relative;
  width: 20vw;
  height: 20vh;
  margin: 0 16px;
}

.about_me_card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.front_card{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ff3a3a;
  color: grey;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.2);
}

.back_card{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #e6e2d3;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  color: #800000;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.2);
  padding: 5px;
  font-weight: bold;
}

.about_me_card:hover{
  transform: rotateY(180deg);
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/


.sub-heading{
  margin-top: 5%;
}

/*----------------------------------------------------------------------------*/
.work-row{
  margin: 0px -16px;
  display: table;
}

.work-row,
.work-row > .work-column{
  padding: 8px;
}

.work-column{
  float: left;
  width: 25%;
  min-width: 225px;
  height: 60vh;
  font-weight: bold;
}

.work-column img{
  border-radius: 10px;
  width: auto;
  height: 30vh;
}

.work-row a{
  text-decoration: none;
  color: black;
}

.work-row:after{
  content: "";
  clear:both;
}

.work-content{
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  background-image: url("../images/steel-background.jpg")
}

.work-column h3{
  color: #800000;
}

/*----------------------------------------------------------------------------*/
